.whole-page {
    align-content: center;
    text-align: center;
    background: linear-gradient(136deg, rgb(144, 44, 94) 0%, rgb(141, 41, 104) 45%, rgba(194, 6, 6, 0.8) 100%) 0% 0% repeat scroll rgba(0, 0, 0, 0);
}
